h1 { 
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  /* color: blueviolet; */
  padding: 15px
}

.page-head {
  font-family: 'Fira Mono';
  font-size: 100px;
}
.page-subhead {
  font-family: 'Brush Script MT';
  color: white;
  font-size: 40px;
  letter-spacing: 5px 
}

.nav-item{
  font-family: 'Fira Mono';
  font-size: larger
}

.facts-head, .charts-head {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 5px;
  color:rgb(91, 82, 255)
}

.bold-num {
  color:rgb(91, 82, 255)
}

div {
  font-family: Arial, Helvetica, sans-serif
}

.col-xl-12 {
  text-align: center;
  width: 15px
}

img {
  max-width: 100%;
  max-height: auto;
  padding: 5px 5px
}