<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Michelin Star Restaurants</title>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
 
    #myChart {
      height: 100%;
      width: 100%;
      min-height: 150px;
    }
 
    .zc-ref {
      display: none;
    }
  </style>
</head>

<body>

<h4>hello</h4>

  <!-- The div that holds our map -->


  </div>
  
  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>


  <!-- Our JavaScript file -->
  <!-- <script type="text/javascript" src="../static/js/logic.js"></script> -->
  
  <div id="myChart"><a class="zc-ref" href="https://www.zingchart.com">Powered by ZingChart</a></div>
    <script src="../static/js/wordcloud1.js"></script>

</body>


</html>
